/* Standard Normalize and Setting the base font-size*/
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {font-size: 62.5%; }

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: black;
	padding: 3rem;
	box-sizing: border-box;
	background-color: white; }

strong { font-weight: 900; }

/* Content controller */
#mobile-link {display: none;}
#show-photos {display: none;}
.mobile-image {display: hidden; width:0; height:0}

/* Header */
.header {min-height: 45vw;}

/* The header container */
.header, .headerA, .headerP {
	height: 95vh;
	background-color: white;
	background-size: cover;
	background-position: top;
	position: relative;
	display: inline-block;
	width: 100%;
	-webkit-background-image: linear-gradient(
			127deg,
			white 50%, 
			transparent 0),
			url(../images/flagBackground.jpg);
		background-image: linear-gradient(127deg,
		 white 50%,
		   transparent 0),
			url(../images/flagBackground.jpg);  }

/* Top navigation bar*/
.navBar, .navBarA, .navBarP {
	width: 65%;
	list-style: none;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	justify-content: space-around;
	z-index: 10; }

.navBar a:link, .navBarA a:link, .navBarP a:link,
.navBar a:visited, .navBarA a:visited, .navBarP a:visited {
	display: block;
	color: black;
	text-decoration: none;
	font-size: 1.25vw;
	font-weight: 700;
	padding: 1rem 2rem; }

.navBar a:hover, .navBarA a:hover, .navBarP a:hover {
	color: black;
	text-decoration: none;
	font-size: 1.5vw;
	text-decoration: underline;
	font-weight: 700;
	padding: 1rem 2rem; }

/* Facebook link */
#blue-link:link, #blue-link:active {
	font-size: 1.5rem;
	background-image: url(../images/facebook_logo.png); 
	background-repeat: none;
	background-size: cover;
	background-position: center;
	padding: .25rem;
	color: transparent;
	z-index: 90000000;  }

/* Donate Now link */
#red-link:link, #red-link:active {
	font-size: 1.4rem;
	border-radius: .7rem;
	border-width: .2rem;
	border-style: solid;
	border-color: red;
	margin-left: .5rem;
	padding-left: .3rem;
	padding-right: .3rem;
	padding-top: .3rem;
	padding-bottom: .3rem;
	z-index: 90000000;  }

/* Header title and subtitle containers */
.header__text-box {
	display: block;
	position: absolute;
	left: 3%;
	top: 15%;
	width: 35%;
	height: 50%;
	background-color: transparent;
	text-align: center; }

.header__text-boxP, .header__text-boxA {
	display: block;
	position: absolute;
	left: -2vw;
	top: 9%;
	width: 50%;
	height: 52%;
	background-color: transparent;
	text-align: center; }

/* Header title flex containers */
.heading-flex-column {
	position: absolute;
	left: 0;
	top: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-around; 
	width: 100%;
	height: 40%; }

/* Header title text-container */
.heading-primary,.heading-primaryA, .heading-primaryP {
color: black;
backface-visibility: hidden;
margin-bottom: 2vh; }

/* Header title text-styling */
.heading-primary--main, .heading-primary--mainA, .heading-primary--mainP  {
display: block;
text-transform: uppercase;
font-size: 2.1vw;
font-weight: 900;
text-align: left;
animation-name: moveInLeft;
animation-duration: 2s;
animation-timing-function: ease-out; }

/* Header subtitle text-styling */
.heading-primary--sub, .heading-primary--subA, .heading-primary--subP {
display: block;
font-size: 1.1vw;
font-weight: 700;
text-align: left;
animation-name: moveInRight;
animation-duration: 2s;
animation-timing-function: ease-out; }

/* Header title button */
.button--gray {
	background-color: #6c89c6;
	color: black; 
	font-weight: 700; }

/* Header title button link */
.button--gray:link, .button--gray:visited {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 2vh 1vw;
	transition: all .2s;
	width: 60%;
	position: relative;
	font-size: 1vw; }

/* Header title button hover effect */
.button--gray:hover {
	transform: translateY(-15%); 
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }

/* Header title button active effect */
.button--gray:active {
	transform: translateY(1%); 
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

/* Header title button flash effect initial state*/
.button--gray::after {
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	transition: all .4s ease-out; 
	background-color: #6c89c6; }

/* Header title button animated flash effect */
.button--gray:hover::after {transform: scaleX(1.4) scaleY(1.6); opacity: 0;}

/* Header title button animation control */
.button--gray--animate {
	animation: moveUp .5s ease-out .75s;
	animation-fill-mode: backwards;
	backface-visibility: hidden; }

/* Header background image flex container */
.header__image-flex-container2 {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 30%;
	height: 110%;
	right: 1%;
	bottom: 0;
	z-index: 10; }

/* Header background image container size */
.header__image-container2, 
.header__image-container2P, 
.header__image-container2A {width: 100%;}

/* Header background image size */
.header__image-container1 .flag {width: 100%; height: 100%;}

/* Header portrait photo container*/
.header__image-container1 {
	display: none;
	position: absolute;
	height: 0%;
	right: 0;
	top: 0;
	background-color:black;
	z-index: 1; }

/* Header portrait image size */
.header__image-container2 .donBrown, 
.header__image-container2P .donBrownP, 
.header__image-container2A .donBrownA {width: 100%;}

/* Bottom navigation flex container for the links */
.flex-row-header {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 12%;
	justify-content: space-around;
	bottom: 0;
	position: absolute;}

/* Bottom navigation flex container for the images */
.flex-row-logo {
	display: flex;
	flex-direction: row;
	width: 100%;
	left: 0;
	height: 8%;
	justify-content: space-around;
	bottom: 15%;
	position: absolute;
	list-style: none;
	z-index: 990000000; }

/* Bottom left navigation image-link */
#camera:link, #camera:visited {
	background-image: url(../images/electImg.jpg);
	background-repeat: none;
	background-size: cover;
	background-position: center;
	padding: 5rem;
	color: transparent;
	z-index: 90000000; }

/* Bottom middle navigation image-link */
#ribbon:link, #ribbon:visited {
	background-image: url(../images/top100.jpg);
	background-repeat: none;
	background-size: cover;
	padding: 5rem;	
	color: transparent; 
	background-position: center; }

/* Bottom right navigation image-link */
#question:link, #question:visited {
	background-image: url(../images/family.jpg);
	background-repeat: none;
	background-size: auto 100%;
	padding: 5rem;	
	color: transparent;
	background-position: center; }

/* Bottom navigation image-link hover effects */
#camera:hover, #ribbon:hover, #question:hover {
	font-size: 2rem;
	display: block;
	transform: translateY(-50%);
	transition: .2s all;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
	background-position: center; }

/* Bottom navigation image-link active effects */
#camera:active, #ribbon:active, #question:active {
	display: block;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
	background-position: center; }

/* Bottom navigation link containers */
.awards__text-box, .photo__text-box, .blank__text-box  {
	color: white;
	text-align: center;
	z-index: 10000000;
	width: calc(100%/5); }

/* Bottom navigation link title */
.heading-gold {
	display: block;
	text-transform: uppercase;
	font-size: 1.5vw;
	font-weight: 900;
	text-align: center; }

/* Bottom navigation link subtitle */
.heading--gold--sub {
	display: block;
	font-size: 1vw;
	font-weight: 700;
	text-align: center; }

/* Photo page header slideshow flex container */
.heading-flex-column-P {
	position: absolute;
	left: 0;
	top: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-around; 
	width: 100%;
	height: 90%; }

.footer {
	position: absolute;
	display: inline-block;
	bottom: 0;
	height: 20%;
	width: 100%;
	background-color: black;
	border: 1rem solid black; 
	z-index: 10; }

@keyframes moveInLeft {
0% {
	opacity: 0;
	transform: translate(-40%); }
70% {
	transform: translate(5%); }
100% {
	opacity: 1;
	transform: translate(0);
	transform: scale(1); } }

@keyframes moveInRight {
0% {
	opacity: 0;
	transform: translate(40%); }
70% {
	transform: translate(-5%); }
100% {
	opacity: 1;
	transform: translate(0); } }

@keyframes moveUp {
0% {
	opacity: 0;
	transform: translateY(80%); }
80% {
	transform: translateY(-30%); }
100% {
	opacity: 1;
	transform: translateY(0); } }


/************************************* MOBILE PHOTO LAYOUT IN FLEX ROWS AND COLUMNS *******************************************/

/* Photo flex rows are arranged in a flex column */
.photos-flex-grid-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	height: 500vh;
	margin-top: 10rem; }

/* Photo rows are in flex rows */
.photos-flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
	width: 90%;
	height: 45vh;
	padding-left: 11rem;}

/* Photo description container */
.photo-details {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	overflow: hidden;
	width: 35%;
	height: 100%;
	background-color: rgba(208, 211, 212, .4);
	text-align: center; }

/* Photo image container */
.photo-case {
	display: block;
	width: 35%;
	height: 100%;
	background-color: white;
	text-align: center; }

/* Photo title text */
.photo--title{
	display: block;
	width: 100%;
	color: black;
	text-transform: uppercase;
	font-size: 2.7rem;
	font-weight: 900;
	letter-spacing: .2vh;
	text-align: center; 
	padding-top: 7rem; 
	padding-right: 1rem;
	padding-left: 1rem; }

/* Photo description text */
.photo--description {
	display: block;
	width: 100%;
	color: black;
	font-style: italic;
	font-weight: 700;
	font-size: 1.5rem;
	text-align: center;
	padding-bottom: 7rem;
	padding-right: 5rem;
	padding-left: 5rem; }

/******************************************************** PHOTOS IN SLIDESHOW ************************************************/
.mySlides {display: none}

.slideButtons {display: block;}

.mySlides-1 {
	width: 100%;
	height: 100%;
	background-image: url('../images/family.jpg');
	background-size: auto 90%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center; }

.mySlides-2 {
	width: 100%;
	height: 100%;
	background-image: url('../images/dog.jpeg');
	background-size: auto 80%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-position-y: center; }

.mySlides-3 {
	width: 100%;
	height: 100%;
	background-image: url('../images/grandchildren.jpeg');
	background-size: auto 90%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center; }

.mySlides-4 {
	width: 100%;
	height: 100%;
	background-image: url('../images/ireland1.jpeg');
	background-size: auto 90%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center; }

.mySlides-5 {
	width: 100%;
	height: 100%;
	background-image: url('../images/men.jpeg');
	background-size: auto 90%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center; }

.mySlides-6 {
	width: 100%;
	height: 100%;
	background-image: url('../images/basketball1.jpeg');
	background-size: auto 90%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center; }

.mySlides-7 {
	width: 100%;
	height: 100%;
	background-image: url('../images/campaignTrail1.JPG');
	background-size: auto 90%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center; }

.mySlides-8 {
	width: 100%;
	height: 100%;
	background-image: url('../images/campaignTrail2.JPG');
	background-size: auto 90%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center; }

.mySlideContainers {
	width: 100%; }

/* Slideshow container */
.slideshow-container {
	height: 100%;
	width: 100%;
	position: relative;
	margin: auto; }

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	display: block;
	width: 20%;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color:  rgba(0,0,0,0.25);
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none; }

/* Position the "previous button" to the left */
.prev {left: 5%; border-radius: 3px 0 0 3px;}

/* Position the "next button" to the right */
.next {right: 5%; border-radius: 3px 0 0 3px;}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {background-color: rgba(0,0,0,0.8);}

/* Caption text */
.text {
	color: white;
	font-size: 1.6rem;
	font-weight: 900;
	padding: 12px 14px;
	position: absolute;
	left: 23%;
	bottom: 5%;
	width: 55%;
	text-align: center; }

/* Slide 5 caption text */
.text-5 {
	color: white;
	font-size: 1.3rem;
	font-weight: 900;
	padding: .8rem .12rem;
	position: absolute;
	left: 35%;
	bottom: 6%;
	width: 30%;
	text-align: center; }

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0; }

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease; }

.active, .dot:hover {
background-color: #717171; }

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s; }

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1} }

@keyframes fade {
from {opacity: .4} 
to {opacity: 1} }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px} }


/****************************************************Home Page Section***********************************************************/

/* Section body */
.home--body {
	display: inline; 
	padding-left: 2rem; }

/* Section body container */
.home--body--container {
	padding-left: 16rem; 
	padding-right: 27rem; }

/* Section article primary header */
.home--primary--header {
	text-transform: uppercase;
	display: block;
	font-size: 3rem;
	font-weight: 900; }

/* Section article secondary header */
.home--secondary--header {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	margin-top: 1rem;
	margin-left: 6rem; }

/* Section article tertiary header */
.question {
	font-style: italic;
	font-size: 2rem;
	font-weight: 700;
	margin-top: 1rem;
	margin-left: 6rem; }

/* Section article paragraph text */
.home--details {
	display: block;
	font-size: 1.5rem;
	font-weight: 700;
	margin-top: 1rem;
	margin-left: 12rem; }

/************************************************************* Awards ***********************************************************/

/* Awards image properties */
.award-case { display: block;}

.awardImage{
	display: block;
	width: 100%;
	padding: 2rem; }

/* Awards flex rows are arranged in a flex column */
.awards-flex-grid-column {
	display: flex;
	position: absolute;
	width: 40%;
	margin-top: 5rem;
	flex-direction: column;
	justify-content: space-around; }

.awards-flex-grid-row {
	display: flex;
	height: 100%;
	width: 100%;
	margin-top: 5rem;
	flex-direction: row;
	justify-content: space-around; }

.awards-flex-grid-column::after {
	content: "";
	display: table;
	clear: both;
}

/* Awards Image Styling */
.lexisNexis {
	color: black;
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 900;
	letter-spacing: .2vh; }

/************************************************************Biography***********************************************************/

/* Biography achievement list indentation */
#achievement-list {
	padding-left: 10rem; }

/* Biography Image styling */
.mugShot {
	display: block;
	float: right;
	height: auto;
	width: 17.5%;
	margin: 1.5vw;
	border-radius: 3px; }
/*************************************************************Media Queries******************************************************/

@media only screen and (max-width: 1050px) and (min-width: 700px) { }

/* Small Desktops and Large Tablets*/
@media only screen and (max-width: 1050px) and (min-width: 700px) {

	/* Adjust the size of the heading */
	.header, 
	.headerA, 
	.headerP {
		max-height: 65vw;}

	/* Centering the slide-show and main title */
	.header__text-boxP, 
	.header__text-boxA {transform: translateY(50%);}

	/* Font size adjustments */
	.heading-primary--main, 
	.heading-primary--mainA, 
	.heading-primary--mainP { font-size: 2vw; }

	.heading-primary--subP, 
	.heading-primary--subP, 
	.heading-primary--sub { font-size: 1.15vw; }

	/* Hiding the slide-show content */
	#show-slide-buttons {display: none;}
	#show-previous {display: none;}
	#show-next {display: none;}
	#show-slides {display: none;}
	#keyPrimarySection {display: none;}

	/* Hiding bottom navigation subtitles */
	.heading--gold--sub {display: none;}

	/* Reveal photos in flex column format */
	#show-photos {display: flex;}
	.photos-flex-grid-column {margin-top: 15rem;} 

	/* Margin and padding adjustments */
	.home--body--container {padding-left: 0; padding-right: 0;}
	.home--details {margin-left: 7rem; margin-right: 2rem;}

	/* Navigation Bar Font-size Adjustments */
	.navBar a:link,
	.navBarA a:link,
	.navBarP a:link,
	.navBar a:visited,
	.navBarA a:visited,
	.navBarP a:visited {
		font-size: 1.2vw; 
		padding-left: 0; 
		padding-right: 0; 
		z-index: 99999999999999;}

	/* Resizing bottom navigation link titles */
	.heading--gold {padding-top: 5rem; font-size: 1.5vw;}

	/* Adjusting the top navigation bar width */
	.header__navigationP .navBarP,
	.header__navigationA .navBarA, 
	.header__navigation .navBar {width: 60%;}
	
	/* Adjusting the page title flex container, slideshow container, and image container */
	.heading-flex-column {
		z-index: 10; 
		bottom: 0;
		position: absolute;
		top: 5%;
		height: 65%;
	}

	.heading-flex-column-P {
		z-index: 10;
		bottom: 0;
		position: absolute;
		top: 5%;
		height: 65%;
	}

	.header__image-flex-container2 {
		width: 30%; 
		height: 65%; 
		right: 3%; 
		bottom: 15%;
	}
} /* large tablets and smaller desktops*/

/*Large Tablets and Mobile Phones*/
@media only screen and (max-width: 699px) and (min-width: 200px) {
	
	/* Hiding content for mobile */
	.chevron-container, 
	.awards__text-box, 
	.photo__text-box, 
	.blank__text-box, 
	.footer, 
	.header__image-container1 .flag,
	.flex-row-header, 
	.flex-row-logo, 
	.header__image-container2, 
	.header__image-flex-container2, 
	#show-slide-buttons, 
	#show-previous, 
	#show-next, 
	#show-slides,
	#blue-link:link, 
	#blue-link:active,
	#red-link:link, 
	#red-link:active { display: none; }

	/* Reveal mobile content */
	#show-photos {display: flex;}
	#mobile-link {display: initial;}

	/* Changing the header into a column layout with the content stacked on top of each other */
	.header, .headerA, .headerP {
		height: auto; 
		margin-bottom: 2rem;
		background-image: none;
		-webkit-background-image: none;
	}
	.heading-flex-column {
		display: block; 
		top: 0; 
		height: auto; 
		position: initial;
	}
	.heading-flex-column-P {
		display: block;
		 top: 0;
		height: auto;
		position: initial;
	}

	.header__text-box{
		width: 100%; 
		position: initial;
	}

	/* Top navigation becomes a column of choices */
	.header__navigation .navBar {
		text-align:center; 
		display:initial; 
		width:100%;
	}
	.header__navigation {
		background-image:linear-gradient(
			to right,rgba(0, 0, 0, .6),
			rgba(0, 0, 0, .6)),
			url("../images/flagBackground.jpg"); 
			background-size:cover;
			padding-bottom:.7rem; 
	}

	/* Styling of the new column navigation links */
	#white-link {
		color:white; 
		font-size: 2rem; 
		padding: .5rem 1rem;
	}

	#white-link:hover {
		color: rgb(212,175,55); 
		text-decoration: none; 
		font-size: 1.75rem; 
		text-decoration: underline; 
		font-weight: 700; 
	}

	#white-link:visited {font-size: 1.5rem;}

	/* Centering the elect Donald Brown Image */
	.image-section {display: inline; text-align: center; }

	/* Adding in a main title and subtitle to the photo page */
	#primary-section, #keyPrimarySection {
		position:initial;
		display: block;
		text-align: center;
		width : 100%;
		margin-right: 2rem; 
		margin-top: 2rem;
		margin-bottom: 2rem; }

	/* Centering the main title and subtitle of each page and removing animation */
	.heading-primary--main {
		animation: none; 
		text-align: center; 
		font-size: 7vw;
	}
	.heading-primary--sub{
		animation: none; 
		text-align:center; 
		margin-bottom: 1rem; 
		font-size: 3.2vw;
	}

	/* Remove animation from the button */
	.button--gray:link {
		animation: none; 
		display: inline; 
		position: initial; 
		text-align: center; 
		font-size: 3.2vw;
	}

	/* Refromat the body of the main article */
	.home--body {
		display: block; 
		padding-left: 2rem;
	}
	
	/* Center election image of donald brown */
	.mobile-image {
		display: inline-block; 
		width: 100%; 
		height: auto; 
		text-align: center;
	}

	/* Reformatting the article sections for mobile */
	.home--body--container {
		width: 100%; 
		margin: 0; 
		padding: 0;
	}

	.home--primary--header {
		text-transform: uppercase;
		font-size: 7vw;
		font-weight: 900;
		margin-top: 1rem; 
		text-align: left; }
	
	.home--secondary--header {
		font-size: 5.2vw;
		font-weight: 700;
		margin-left: 2vw; }
	
	.question {
		font-style: italic;
		font-size: 2rem;
		font-weight: 700;
		margin-left: 4rem; }
	
	.home--details {
		overflow-wrap: break-word;
		word-wrap: break-word; 
		font-size: 3.2vw;
		font-weight: 400;
		padding-left: 4vw;
		margin: 0;
		padding-right: 0; 
		padding-bottom: 0;
		padding-top: 0;
	} 
	
	#achievement-listB, #achievement-listQ {padding-left: 15vw;}

	/* Photos and description turn into a stack of photos and description */
	.photos-flex-row {
		flex-direction: column;
		height: 120vh; 
		width: 100%; 
		padding-left: 0;
	}

	.photos-flex-grid-column {
		height: 1500vh; 
		width: 100%;
	} 

	/* Photo container and detail containers size adjustments */
	.photo-case {
		width: 100%;
		height: auto; 
		margin: 0 auto;
	}

	.photo-details {
		height: 35%; 
		width: 100%;
	} 

	/* Adjust award sizes */
	.awards-flex-grid-column {
		width: 100%;
	}
} /*Mobile media queries*/